@CHARSET "ISO-8859-1";

.login_page{
	/*background-color:#00cc00;*/
	/*overflow:hidden;*/
	overflow-y:auto;
	overscroll-behavior:none; /*auto;*/
	pointer-events:none;
	position:fixed;
	/*max-height:calc(100vh - 146px - 2rem);*/
	height:calc(100% - 100px);
	/*min-height:calc(492px + 2rem)*/
	/*-webkit-overflow-scrolling:auto;*/
}
.login_page .login_forms *{
	/*pointer-events:none;*/
}
.login_forms{
	max-height:calc(100vh - 102px);
	/*height:calc(492px + 2rem);*/
	/*min-height:calc(492px + 2rem);*/
	position:relative;
	display:block;
	/*background-color:#ff0000;*/
	width:calc(100%); /*- 4rem);*/
}
.tab_login_select:checked ~ .login_page input, .tab_login_select:checked ~ .login_page label, .tab_login_select:checked ~ .login_page a{
	pointer-events:auto;
}
	.login_form_container{
		background-color:inherit;
		width:calc(100%); /*- 4rem); /*75vw;*/
		white-space:normal;
		z-index:14;
		/*max-height:calc(100%); /*calc(516px + 4rem);*/
		/*min-height:calc(492px + 2rem);*/
		height:calc(100% - 5px);
		/*height:calc(666px + 4rem);
		/*height:inherit; /*calc(666px + 4rem);*/
		/*overflow-y:auto; /*hidden;*/
		overscroll-behavior:none;
		position:fixed;
		display:block;
		/*pointer-events:none;*/
		/*-webkit-over/flow-scrolling:touch;*/
		transition:opacity 0.5s;
		box-sizing:border-box;
	}
	.flip_panel, .lenap_pilf{
		width:calc(100% - 2rem);
		position:absolute;
		transition:transform 0.5s, opacity 0.25s; /*, filter 0.5s;*/
		transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		backface-visibility:hidden;
		-webkit-backface-visibility:hidden;
		-moz-transform-style:hidden;
		/*border:1px solid #e7e7e7;*/
		border-radius:0.25rem;
		/*background:linear-gradient(to right, black, transparent);*/
		/*z-index:2;*/
		/*padding:1rem 0.5rem;*/
		margin-bottom:50px;
		/*overscroll-behavior:none;*/
		margin-left:1rem;
		margin-top:1rem;
		height:492px;
		box-sizing:border-box;
		text-align:center;
	}
	.lenap_pilf{
		position:absolute;
		top:0;
	}
	.flip_panel > *, .lenap_pilf > *{
		position:relative;
		display:block;
	}
	.flip_header
	{
		font-size:1.8rem; /*.4rem;*/
		text-align:center;
		/*margin-top:1rem;*/
		width:100%;
		display:inline-block;
	}
	.flip_tabs{
		height:50px;
		width:100%;
	}
	.flip_tabs > *{
		height:50px;
		border-top:1px solid #e7e7e7;
		border-left:1px solid #e7e7e7;
		border-right:1px solid #e7e7e7;
		width:calc(50% - 2px);
		display:inline-block;
		background-color:#000000;
	}
	input[type="checkbox"]:checked + #flip_panels .flip_panel{
		transform:rotateY(180deg);
		pointer-events:none;
	}
	input[type="checkbox"]:not(:checked) + #flip_panels .lenap_pilf{
		transform:rotateY(180deg);
		pointer-events:none;
	}
	input[type="checkbox"]:not(:checked) + #flip_panels .flip_panel{
		transform:rotateY(0deg);
		pointer-events:inherit;
	}
	input[type="checkbox"]:checked + #flip_panels .lenap_pilf{
		transform:rotateY(0deg);
		pointer-events:inherit;
	}
	input[type="checkbox"]:not(:checked) + #flip_panels .register_form .h-captcha,
	input[type="checkbox"]:checked + #flip_panels .login_form .h-captcha{
		/*display:none;*/
		pointer-events:none;
		opacity:0;
	}
	
	#flip_panels{
		transform-style:preserve-3d;
		-webkit-transform-style:preserve-3d;
		-moz-transform-style:preserve-3d;
		-o-transform-style:preserve-3d;
		backface-visibility:hidden;
		-webkit-backface-visibility:hidden;
		-moz-transform-style:hidden;
		transition:transform 0.5s;
		transform:translate3d(0,0,0);
	}
	
	#flip_panels *:not(.placeholder_label){
		transform:none;
	}
	
	.login_select:not(:checked) + .flip_panel input,
	.login_select:not(:checked) + .flip_panel label,
	.login_select:checked ~ .lenap_pilf input{
		pointer-events:none !important;
	}
	#flip_panels .lenap_pilf:not(html){
		transform:rotateY(180deg); /*translate3d(0,0,0);*/
		opacity:1;
		/*filter:none;*/
	}
	
	.flip_panel .ajax_form > div{
		display:block;
	}
	
	.flip_label,
	.flip_panel .ajax_form .generated_label,
	.lenap_pilf .ajax_form .generated_label,
	.forgot_password_hint,
	.forgot_name_hint,
	.refresh_session_form .generated_label{
		font-size:18px; /*1.8rem;*/
		text-align:center;
		/*margin-top:0.5rem;
		margin-bottom:0.5rem;*/
		cursor:pointer;
		padding:12px 0;
		background-color:#0065d1;
		transition:background-color 0.5s;
	}
	
	.flip_panel .ajax_form input:disabled + .generated_label,
	.lenap_pilf .ajax_form input:disabled + .generated_label{
		background-color:#a0a0a0;
		cursor:not-allowed;
	}
	
	.flip_panel .ajax_form .generated_label,
	.lenap_pilf .ajax_form .generated_label{
		display: inline-block;
		min-height: 50px;
		height: 50px;
		box-sizing: border-box;
	}
	
	.login_form{
		margin-top:0.5rem;}
	}
	.login_form > label:hover,
	.register_form > label:hover{
		cursor:pointer;
		text-decoration:underline;
	}

	.flip_panel .ajax_form .forgot_password_label, 
	.flip_panel .ajax_form .forgot_name_label,
	.flip_panel a,
	.lenap_pilf a{
		color: #0065d1 !important;
		display:inline-block;
	}

	.flip_panel .ajax_form .forgot_password_label, 
	.flip_panel .ajax_form .forgot_name_label{
		font-size: 13px;
		text-align: left;
		transform: translate(1rem, 0.25rem);
		background-color:transparent;
	}

.forgot_password_hint{
	display:none;
}

	input[type="radio"][tab="forgot_name"]:checked ~ [tab="forgot_name"],
	input[type="radio"][tab="forgot_password"]:checked ~ [tab="forgot_password"],
	input[type="radio"][tab="forgot_password"]:checked ~ [tab="name"],
	input[type="radio"][tab="login"]:checked ~ [tab="login"],
	input[type="radio"][tab="login"]:checked ~ [tab="name"],
	input[type="radio"][tab="forgot_password"]:checked ~ button[name="directive"][value="reset"],
	input[type="radio"][tab="forgot_name"]:checked ~ button[name="directive"][value="reset"]{
		display:block;
	}
	
	input[type="radio"][tab="forgot_name"]:checked ~ .forgot_password_hint,
	input[type="radio"][tab="forgot_password"]:checked ~ .forgot_password_hint{
		display:inline-block !important;
	}
	
	.forgot_name_hint{
		width:100%;
		white-space:normal;
	}
	
	#radio_submit_login:checked ~ button[name="directive"][value="reset"],
	#radio_forgot_name:not(:checked) ~ #login_email_container,
	#radio_forgot_name:checked ~ #login_username_container,
	#radio_forgot_name:checked ~ #login_password_container,
	.login_submit_check:checked ~ .btn_c label[for="reset-login_form"],
	/*#radio_forgot_name:checked ~ div input[name="name"],
	#radio_forgot_password:checked ~ div input[type="password"],
	#radio_forgot_name:checked ~ div input[type="password"],*/
	#radio_forgot_password:checked ~ #login_password_container,
	#radio_forgot_name:checked ~ button[name="directive"][value="login"],
	#radio_forgot_password:checked ~ button[name="directive"][value="login"],
	input[type="radio"][tab="forgot_name"]:checked ~ [tab="login"],
	input[type="radio"][tab="forgot_name"]:checked ~ [tab="name"],
	input[type="radio"][tab="forgot_password"]:checked ~ [tab="login"],
	input[type="radio"][tab="login"]:checked ~ [tab="forgot_name"],
	input[type="radio"][tab="login"]:checked ~ [tab="forgot_password"]{
		display:none !important;
	}
	
	label[for="login-login_form"], label[for="insert-register_form"], .flip_label {
		content: '\1f510';
		width: 100%;
		/*height: 50px;*/
		min-height:50px;
		/*background-color: #0065d1;*/
		position: relative;
		display: block;
		color: #fff;
		text-align:center;
		padding:17px 8px;
		box-sizing:border-box;
		display:inline-block;
		width:256px;
		border-radius:0.5rem;
	}
	
	.flip_label{
		color:#0065d1;
		background-color:#141414;
		border: 1px solid #0065d1;
		border-radius:0.5rem;
	}
	
	label[for="login-login_form"]{
		text-transform:uppercase;
	}
	
	.forgot_password_label, .forgot_name_label{
		/*position:absolute;*/
		/*float:left;*/
	}
	
	.register_form > .btn_c.
	.login_form > .btn_c{
		text-align:center;
	}
	
	.register_form > .btn_c > input,
	.login_form > .btn_c > input{
		height:50px; /*calc(5.113043478vh + 1.8rem);*/
		margin-top:1rem;
	}
	.register_form > input[type="text"], 
	.register_form > input[type="password"], 
	.register_form > input[type="email"],
	.login_form > input[type="text"], 
	.login_form > input[type="password"], 
	.login_form > input[type="email"]{
		width:calc(100% - 3.5rem);
		padding-left:1rem; /*8px; /*1rem;*/
		padding-right:1rem; /*8px; /*1rem;*/
	}
	.terms_container{
		/*width:100%;*/
		padding:13px 0;
		text-align:center;
	}
	
	.terms_container > *{
		display:inline;
		margin:0;
	}
	.register_form input[type="submit"],
	.login_form input[type="submit"]{
		background-color:#0065d1; /*5a5d5d; /*#1b2223;*/
		color:#e7e7e7; /*5a5d5d;*/
		border-radius:3px;
		/*padding:2.556521739vh;*/
		height:50px;
		font-size:16px; /*1.8rem;*/
		width:calc(100%); /* - 1rem);*/
	}
	
	.js_valid_light{
		display:inline;
		/*display:none;*/
		position:absolute;
		/*position:relative;*/
		height:1rem;
		width:1rem;
		background-color:transparent;
		/*background-color:#00cc00;*/
		left:calc(100% - 3rem);
		transform:translateY(18.5px) !important;
		border-radius:2px;
	}
	
.flip_notice{
	text-align:center;
	margin-top:1rem;
	transition:opacity 0.5s;
	/*opacity:0;*/
	/*pointer-events:auto;*/
}

.page_content .mfa_form{
	background-color:#ffffff;
}

.mfa_form{
	position:relative;
	display:block;
	text-align:center;
	padding:1rem;
	border-radius:0.5rem;
}

.mfa_form > div{
	margin-bottom:1rem;
}

.login_or {
	width: 100%;
	height: 1rem;
	margin-bottom: 1rem;
	margin-top:1rem;
}

.login_or > span {
	display: inline-block;
	height: 1px;
	width: calc(50% - 2rem);
	background-color: #0065d1;
	/* position: absolute; */
	margin-bottom: 0.25rem;
	margin-left: 0.5rem;
}

.login_or > span:nth-of-type(2){
	width:auto;
	height:auto;
	background-color:inherit;
}

label[for="reset-login"]{
	height: 50px;
	width: 100%;
	background-color: #00ff00;
}

label[for="btn_logout"]{
	/*transform:translateY(25%);*/
	height:100%;
	display:block;
	width:100%;
	position:relative;
	padding:17px 8px;
}

label[for="btn_logout"] > div{
	height: 100%;
	display: block;
	position: relative;
}

#login_replace{
	height:100%;
}

#logout_form{
	padding:0;
	width:100%;
}

#logout_form > .btn_c{
	height:50px;
	box-sizing: border-box;
}

input[validity="valid"] ~ .js_valid_light, 
input:valid ~ .js_valid_light{
	background-color:#0fc;
}

input[validity="invalid"] ~ .js_valid_light{
	background-color:#f00 !important;
} 
input:invalid ~ .js_valid_light{
	background-color:#f00;
}

input[validity="hidden"] ~ .js_valid_light,
input[validity="pending"] ~ .js_valid_light{
	background-color:transparent !important;
}
